<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
          (click)="onClickVendas()"
          >
            <mat-icon>sell</mat-icon>
            <span>Vendas</span>
          </button>
          <button mat-menu-item
          (click)="onClickClientes()"
          >
            <mat-icon>person</mat-icon>
            <span>Clientes</span>
          </button>
          <button mat-menu-item
          (click)="onClickProdutos()"
          >
            <mat-icon>shopping_cart</mat-icon>
            <span>Produtos</span>
          </button>
        </mat-menu>
      <span>Vendas</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <div class="column-flex mat-elevation-z8">
      <app-sales-list *ngIf="sales$ | async as sales; else loading"
      [sales]="sales"
      ></app-sales-list>

      <ng-template #loading>
        <div class="loading-spinner">
          <mat-spinner [diameter]="50"></mat-spinner>
        </div>
      </ng-template>
    </div>

  </mat-card-content>
</mat-card>
