<mat-table mat-table [dataSource]="clients">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef class="mat-column-client">Nome</mat-header-cell>
    <mat-cell *matCellDef="let client">{{ client.name }}</mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef class="mat-column-product">Email</mat-header-cell>
    <mat-cell *matCellDef="let client">{{ client.email }}</mat-cell>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef class="mat-column-product">Data de nascimento</mat-header-cell>
    <mat-cell *matCellDef="let client">{{ client.birthDate }}</mat-cell>
  </ng-container>

   <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column-header">
      <button
      (click)="onAdd()"
      mat-raised-button color="primary"
      >
      CREATE</button>

    </mat-header-cell>

    <mat-cell *matCellDef="let sale" class="action-column">
      <button
        mat-icon-button
        color="primary"
        aria-label="Editar Curso"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        color="warn"
        aria-label="Remover Curso"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
